.titulo{
   text-emphasis-color:#b12929 ; 
   text-align: center;
}
.tit2{
    text-align: center;
}
.tit3{
    text-align: center;
}
.tit4{
    text-align: center;
}
.tit5{
    text-align: center;
}
.tit6{
    text-align: center;
}
.tit7{
    text-align: center;
}
.tit8{
    text-align: center;
}

body{
    text-align: justify;
    background-color: beige;
}
